// font
$fs-xxs: 12px;
$fs-xs: 16px;
$fs-s: 18px;
$fs-m: 20px;
$fs-l: 24px;
$fs-xl: 32px;
$fs-xxl: 48px;

$fw-400: 400;
$fw-700: 700;

$ff: 'Noto Sans TC', sans-serif,'微軟正黑體';

// color
$color-orange: #FF5D50;
$color-blue: #56C4C5;
$color-yellow: #F5CA32;
$color-gray: #747474;
$color-lightgray: #F5F5F5;
$color-white: #ffffff;

// padding
$p-1: 8px;
$p-2: 12px;
$p-3: 16px;
$p-4: 24px;
$p-5: 32px;
$p-6: 48px;

// margin
$m-1: 8px;
$m-2: 16px;
$m-3: 48px;
$m-4: 100px;